
td, th {
border: 1px solid black;
}
table {
    border-collapse: collapse;
    border: 2px solid black bold;
}
.name2 {
background-color: green;

}
.name3 {
    background-color: red;
}
.name1 {
    background-color: grey;
}
.figure {

    text-align: center;
}
#figure1 {
    background-color: green;
    text-align: center;
}
.marge1
{
    padding: 10px;
}
.marge
{
 padding-left: 20px;
 padding-right: 10px;
}