
td, th {
border: 1px solid black;
}
table {
    border-collapse: collapse;
    border :solid 2px black;
}
.name2 {
background-color: green;

}
.name3 {
    background-color: red;
}
.name1 {
    background-color: grey;
    
}
.figure {

    text-align: center;
}
#figure1 {
    background-color: green;
    text-align: center;
    line-height: 25px;
}
.marge1
{
    padding-left: 10px;
}
.marge
{
 padding-left: 80px;
 padding-right: 10px;
}
#largeur
{
    width: 180px;
}
#largeur1
{
    width: 130px;
}